{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to ClassServer</h1>
    <p class="lead">IoT Gaming System for 1ELER-24-25</p>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Active Games</h2>
            <div id="activeGames">
                <p class="loading">Loading games...</p>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Leaderboard</h2>
            <div id="leaderboard">
                <p class="loading">Loading leaderboard...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
