{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Serverinformasjon</h1>
    
    <div class="card mt-4">
        <div class="card-header">
            <h5>Tilgjengelige Tjenester</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Tjeneste</th>
                            <th>Lenke</th>
                            <th>Port</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Node-RED</td>
                            <td><a href="{{ info.nodered.url }}" target="_blank" class="text-info">Åpne Node-RED</a></td>
                            <td>1880</td>
                        </tr>
                        <tr>
                            <td>InfluxDB</td>
                            <td><a href="{{ info.influxdb.url }}" target="_blank" class="text-info">Åpne InfluxDB</a></td>
                            <td>8086</td>
                        </tr>
                        <tr>
                            <td>Adminer</td>
                            <td><a href="{{ info.adminer.url }}" target="_blank" class="text-info">Åpne Adminer</a></td>
                            <td>8080</td>
                        </tr>
                        <tr>
                            <td>Grafana</td>
                            <td><a href="{{ info.grafana.url }}" target="_blank" class="text-info">Åpne Grafana</a></td>
                            <td>3000</td>
                        </tr>
                        <tr>
                            <td>MQTT Broker</td>
                            <td>{{ info.mqtt.host }}</td>
                            <td>1883</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


