{% extends "base.html" %}

{% block content %}
<div class="server-info">
    <h2>Server Information</h2>
    
    <div class="code-display">
        <div>
            <span class="info-label">MQTT Broker:</span>
            <span class="info-value">{{ info.mqtt.host }}:{{ info.mqtt.port }}</span>
        </div>
        <div>
            <span class="info-label">Node-RED:</span>
            <span class="info-value">{{ info.nodered.url }}</span>
        </div>
        <div>
            <span class="info-label">InfluxDB:</span>
            <span class="info-value">{{ info.influxdb.url }}</span>
        </div>
        <div>
            <span class="info-label">Adminer:</span>
            <span class="info-value">{{ info.adminer.url }}</span>
        </div>
        <div>
            <span class="info-label">Grafana:</span>
            <span class="info-value">{{ info.grafana.url }}</span>
            <span class="info-description">(Data visualization & dashboards)</span>
        </div>
    </div>
</div>
{% endblock %}
